{% extends 'base.html' %}

{% block content %}
<h1>Matches from the European Kendo League</h1>

<form action="window.location.href='/matches/new';"><button type="submit">Add New Match Now</button></form>

<spacer type="horizontal" width="100" height="100"> ♢ </spacer>

<table style="width:100%">
  <tr>
    <th style="width:20%">Dates that had matches: </th>
    <th style="width:20%">White Team</th>
    <th style="width:10%">White Team Score</th>
    <th style="width:10%">Red Team Score</th>
    <th style="width:20%">Red Team</th>
    <th style="width:20%">Delete?</th>
    
  </tr>
  <tr>
    {% for match in matches %}
    <th><a href="/matches/{{ match.id }}"> {{match.match_date}} </a></th>
    <th> {{ match.team_a.name }}</th>
    <th> {{ match.team_a_score }}</th>
    <th> {{ match.team_b_score }}</th>
    <th> {{ match.team_b.name }}</th>
    <th> <div class="buttons"><form class="delete-form" action="/matches/{{match.id}}/delete" method="POST"><button class="trash-button"><i class="fa-solid fa-dumpster fa-lg" style="color:red" aria-hidden="true"></i></button></div></th>
  </tr>
    </form>
  {% endfor %}
</table>
{% endblock %}