{% extends 'base.html' %}

{% block content %}
<h1> {{match.match_date}} </h1>

<table style="width:100%">
    <tr>
        <th style="width:30%">White Team</th>
        <th style="width:20%">White Team Score</th>
        <th style="width:20%">Red Team Score</th>
        <th style="width:30%">Red Team</th>
    </tr>
    <tr>
        <th>{{match.team_a.name}} </th>
        <th>{{match.team_a_score}} </th>
        <th>{{match.team_b_score}} </th>
        <th>{{match.team_b.name}} </th>
    </tr>
</table>

{% if winning_team.name != Draw: %}
<h2> Winner: {{winning_team.name}}</h2>
{% else: %}
<h3>{{match.team_a.name}} and {{match.team_b.name}} tied.</h3>
{% endif %}
{% endblock %}