{% extends 'base.html' %}

{% block content %}
<h1>Teams in the European Kendo League</h1>

<form action="/teams/new"><button type="submit">Add Your Team Now</button></form>

<spacer type="horizontal" width="100" height="100"> </spacer>

{% for team in teams %}
<table style="width:100%">
  <tr>
    <th style="width:40%">Team Name</th>
    <th style="width:40%">Country</th>
    <th style="width:20%"> Delete?</th>
  </tr>
   <tr>
    <th><a href="/teams/{{team.id}}"> {{team.name}} </a></th>
    <th>{{ team.country }}</th>
    <th>  <div class="buttons">
      <form class="delete-form" action="/teams/{{team.id}}/delete" method="POST">
        <button class="trash-button"><i class="fa-solid fa-dumpster fa-lg" style="color:red" aria-hidden="true"></i></button>
      </form></th>
  {% endfor %}
</table>
{% endblock %}

