ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6096ba;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: f4e9cd;
  }

body {
    background-color:#e7ecef;
    color: #274c77;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

div {
    width: 320px;
    border: 5px #9DBEBB;
    padding: 10px;
    margin: 0px;
  }

  h1, h2, h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
  }

  p{
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  table, th, td {
    border: 1px solid;
    background-color: #274c77;
    color:#274c77;
  }

  th {
    background-color: #e7ecef;
  }

  footer{
    position: fixed; bottom: 0;
    left: 0;
    bottom: 0;
    background-color: #6096ba;
    width: 100%;  
    padding: 5px;
    text-align: center;
    color: white;
  }

image {
  width: 1800px;
  height: 300px;
  margin-bottom: 10px;
}

img {
  float:left;
}

form{
  margin: 0 auto;
  width: 250px;
  text-align: center;
}
input {
  width: 100%;
  text-align: center;
  
}

select{
  width:100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
}

input [type=button], input[type=submit], input[type=reset]{
  border: none;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #6096ba;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}