{% extends 'base.html'%}

{% block content %}
<h1>Welcome to the European Kendo League</h1>
<h3>Run in cooperation with the European Kendo Federation.</h3>


    <image><img src="https://i.ytimg.com/vi/dagPvhRT0Io/maxresdefault.jpg" style="width:50%"></image>
    <image><img src="https://i.ytimg.com/vi/Ex74P1-JWSY/maxresdefault.jpg" style="width:50%"></image>

<spacer type="horizontal" width="100" height="100"> ♢ </spacer>

<h3> What is the European Kendo Federation?</h3>
<p> <br>The European Kendo Federation (EKF) is the overall non profit organization for the traditional Japanese martial arts of Kendo, Jodo and Iaido with more than 40 Member Federations in Europe. We organize European Championships, seminars and gradings, maintain a European Dan Register and support contacts between our members as well as maintaining the relationships on the global level (ZNKR, FIK).</p>

<p>Information as to persons and their dan-grades can be found at "Person Grades" (left) and with the the individual federations. For questions relating to dojos, clubs and training (place, time) please primarily contact the relevant Member Federation. The same applies with regard to updates relating to dojos, events or amendments as to individual persons/grades.</p>
{% endblock %}